/* imma kick css' ass*/

body {
  min-height: 100vh;
  font: 14px 'Comic Sans MS';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

header, footer {
  width: 100%;
  background: navy;
  color: white;
  text-align: center;
  line-height: 20px;
}

main {
  display: flex;
  justify-content: space-around;
}

section {
  text-align: center;
  border-radius: 25px;
  background: pink;
  color: black;
  min-height: 200px;
  padding: 25px;
  width: 250px;
  justify-content: space-around;
}

img {
  min-width: 160px;
  max-width: 200px;
  border: 1px solid black;

}
